:root {
    /* Colors */
    --background-color-1: #ffafbd;
    --background-color-2: #ffc3a0;
    --button-color: #ff6b6b;
    --button-hover: #ff8787;
    --text-color: #ff4757;

    /* Animations */
    --float-duration: 15s;
    --float-distance: 50px;
    --bounce-speed: 0.5s;
    --heart-explosion-size: 1.5;
}


body, html {
    height: 100%;
    width: 100%;
    place-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }


#header {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: rgb(255, 113, 137);
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.hero-img {
    background-image: url('assets/val-hero2.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.heart, .bear {
    position: absolute;
    font-size: 2rem;
    animation: float var(--float-duration) linear infinite;
}
.btn {
    font-size: 40px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    border-radius: 25%;
    text-align: center;
    padding: 15px 30px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-style: solid;
    transition: all 0.2s linear;
}


#yesBtn {
    background-color: rgb(0, 255, 0);
    border-color: white;
}

#yesBtn:hover {
    background-color: rgb(2, 212, 2);
    scale: 1.1;
}

#noBtn {
    background-color: red;
    border-color: white;
}

#noBtn:hover {
    background-color: rgb(179, 3, 3);
    scale: 0.9;
}
.hearts-explosion {
    font-size: 2rem;
    animation: explode 1s ease-out forwards;
    margin-top: 30px;
}

@keyframes explode {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(var(--heart-explosion-size));
    }
    100% {
        transform: scale(1);
    }
}

.floating-elements {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.images {
    /* height: auto; */
}

.celebration-text {
    font-size: 3em;
    color: #ff4757;
    font-weight: bold;
    margin: 30px 0;
    animation: bounce var(--bounce-speed) infinite alternate;
    text-shadow: 2px 2px 4px rgba(255, 71, 87, 0.3);
}

#container img{
    height: 400px;
    width: auto;
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fastBtn {
    font-size: 40px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    margin-left: 184px;
    border-radius: 25%;
    text-align: center;
    padding: 15px 30px;
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    /* cursor: pointer; */
    border-style: solid;
    /* transition: all 0.2s linear; */
}